@font-face {
  font-family: 'Rezland';
  src: local('Rezland'), url(./fonts/REZ.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}
