:root {
  --primary: #44fae4;
  --secondary: #bfbfbf;
  --pale: #efffc8;
}

form {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  flex-grow: 1;
  margin-left: 1rem;
}
input + select {
  margin-left: 2px;
}

select {
  flex-grow: 0;
  margin-right: 1rem;
}

.header {
  display: flex;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: var(--primary);
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--secondary);
}

.logo {
  display: block;
  max-height: 70px;
}

.title-link {
  display: flex;
  flex-wrap: nowrap;
  min-width: 700px;
}

.title-extension {
  line-height: 70px;
  color: #333333;
  font-family: 'Rezland';
  font-size: 3em;
}

.home-link {
  font-family: 'Muli', sans-serif;
}
