/* Hou comment: do you need the div selector here?*/
div .gallery {
  margin: 0 1rem 0 1rem;
}

/* Hou comment: how can you style the image tag without using the img tag selector?*/
.picture img {
  margin-bottom: 1rem;
  width: 100%;
}

@media (min-width: 600px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}
